.log_in{
	background: #F3F3F5;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form{
	display: flex;
	width: 100%;
	margin: 0 auto;
	max-width: 420px;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	padding: 40px;

	.input{
		width: 100%;
		border-radius: 0;
		margin-top: 20px;

		&_wrapper{
			width: 100%;
		}
	}
	.btn{
		background-color: #4F7BA7;
		border: none;
		float: right;
		padding: 5px 30px;
		margin-top: 20px;
		
		&.disabled{
			cursor: not-allowed;
			background-color: #4F7BA7;
			pointer-events: none;
		}
		&:not(.disabled):hover{
			background-color: #2F5B87;
		}
	}
}

.image{
	width: auto;
	height: auto;
	max-width: 100%;
}
.error{
	width: 100%;
	opacity: 0;
	transition: all 0.3s;
	background-color: #DEFFC0;
	color: #6F7E7F;
	text-align: center;
	height: 0;
	visibility: hidden;
	
	&RedBg{
		background: var(--danger);
		color: #fff;
	}
	&Visible{
		opacity: 1;
		height: auto;
		visibility: visible;
		padding: 10px;
	}
}

.errorInputWrapper{
	position: relative;
	
	&:before{
		content: '';
		height: 100%;
		width: 15px;
		position: absolute;
		top: 0;
		left: -25px;
		background: #DEFFC0;
	}
}
.spinner{
	width: 40px;
	height: 40px;
	margin: 10px auto;
	background-size: contain;
	opacity: 1;
	transition: all 0.2s;
	
	&Invisible{
		height: 0;
		opacity: 0;
	}
}