.searcForm{
	width: 250px;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 3px;
	color: #fff;
	padding: 2px 5px;
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: 98% center;
	font-size: 14px;
	margin-bottom: 10px;
}
.user{
	
	&Info{
		display: flex;
		justify-content: space-between;
		padding: 15px;
		align-items: center;
		position: relative;
	}

	&Initiales{
		padding: 0 5px;
		background-color: orange;
		text-transform: uppercase;
		font-weight: bold;
		margin-right: 10px;
	}

	&Name{
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;	
		-moz-user-select: none;
		-khtml-user-select: none;
		user-select: none; 
	
		&:after{
			content: '';
			margin-left: 10px;
			display: block;
			width: 0;
			height: 0;
			border: 7px solid transparent;
			border-bottom-width: 0px;
			border-top-color: #fff;
		}
	}
	&Menu{
		position: absolute;
		background-color: #fff;
		box-shadow: 0 0 9px 3px gray;
		color: #454C56;
		border-radius: 0;
		top: 47px;
		left: -78px;
		width: 200px;
		text-align: center;
		overflow: hidden;

		.userInfo{
			box-shadow: 0 0 9px 1px gray;
		}

		.userInitiales{
			color: #fff;
			font-size: 35px;
			line-height: 1.2;
		}
		.btn_wrapper{
			padding: 7px 0;
			
			.btn{
				width: 100%;
				background-color: #D9D9D9;
				padding-left: 15px;
				text-align: left;
				border-radius: 0;
				transition: all 0.2s;

				 &:hover{
				 	filter: brightness(0.9);
				 }
			}
		}
	}
}
.sidebarMenu{

	&Item{
		margin-bottom: 0;
		padding: 7px 15px;
		text-transform: uppercase;
		background-color: #52606C;
	
		&_plus{
			display: flex;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;
			-moz-user-select: none;
			-khtml-user-select: none;
			user-select: none; 
			
			&:hover{
				background-color: #538EC8;
			}
			
			&:after{
				content: '+';
				font-size: 25px;
				font-weight: bold;
				opacity: 0.5;
				line-height: 14px;
			}
		}
	}
}
.projectsList{
	padding-left: 30px;
	li{
		margin-top: 10px;
		cursor: pointer;
		&:hover{
			text-decoration: underline;
		}
	}
	img{
		width: 15px;
		height: auto;
		margin-right: 5px;
	}
}
.projectSearcForm{
	width: 210px;
	background-color: transparent;
	border: 1px solid #538EC8;
	border-radius: 0;
	color: #fff;
	padding: 2px 5px;
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: 98% center;
	font-size: 14px;
	margin: 10px 0;
	margin-left: 28px;
}
.projectsPanelHeader{
	border-bottom: 1px solid #E5E5E5;
}
.panelTitle{
	font-size: 20px;
	padding: 10px 0 10px 25px;
	margin-bottom: 0;
}
.panelView{

	&_menu{
		display: flex;
		justify-content: flex-start;	
		padding-left: 25px;
	}

	&_item{
		cursor: pointer;

		&:not(:first-child){
			margin-left: 30px;
		}
	}
}