@import-normalize;
ul{	
	list-style: none;
	padding: 0px;
	margin: 0;
}
p,ul{
	margin: 0;
}
:root{
  --primary: #4F7BA7;
}
h1, h2, h3, h4{
  text-align: center;
}
.container{
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.dashboard{
	background-color: #454C56;
	color: #fff;
	min-height: 100vh;
	padding: 10px 10px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.DashBoardHeader{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.projects{
	flex-grow: 2;
	display: flex;
	align-items: stretch;
}
.sidebar{
	flex-grow: 2;
	max-width: 250px;
	background-color: #4C5965;
}
.projectsPanel{
	flex-grow: 2;
	background: #fff;
	margin-left: 10px;
	color: #343436;
}